n8n-workflows/chat-workflow.json
{
  "name": "AutoMagicly - Chat Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook - Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "automagicly-chat"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AutoMagicly Chat Logs"
        },
        "sheetName": {
          "__rl": true,
          "value": "Chat",
          "mode": "list",
          "cachedResultName": "Chat"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Session ID": "={{ $json.sessionId }}",
            "Message": "={{ $json.message }}",
            "Source": "={{ $json.source }}",
            "Blocked": "={{ $json.blocked || false }}",
            "Block Reason": "={{ $json.reason || '' }}"
          }
        },
        "options": {}
      },
      "id": "google-sheets-chat-log",
      "name": "Google Sheets - Log Chat",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "=You are AutoMagicly's AI assistant. You help visitors understand our automation services.\n\n**Important Guidelines:**\n- Be friendly and helpful\n- Focus on automation benefits and time savings\n- If asked about pricing, say: \"Our pricing is customized based on your specific needs. I'd recommend booking a free AI audit where we can discuss your requirements and provide an accurate quote.\"\n- If asked technical questions, answer helpfully\n- Keep responses concise (2-3 sentences max)\n- Always encourage booking a free audit for detailed discussions\n\n**What We Do:**\n- Automate repetitive business tasks\n- Email management, CRM updates, reporting, scheduling\n- Custom AI workflows with n8n\n- Save businesses 10-20 hours per week\n\n**User Question:**\n{{ $json.message }}",
        "options": {
          "systemMessage": "You are a helpful AI assistant for AutoMagicly, an automation agency. Keep responses brief and encourage booking a free audit for detailed discussions."
        }
      },
      "id": "openai-chat-response",
      "name": "OpenAI - Generate Response",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.toLowerCase() }}",
              "operation": "contains",
              "value2": "urgent"
            }
          ]
        }
      },
      "id": "if-urgent-message",
      "name": "IF - Urgent Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "channel": "#chat-urgent",
        "text": "=🚨 *Urgent Chat Message!*\n\n*Session:* {{ $json.sessionId }}\n*Message:* {{ $json.message }}\n*AI Response:* {{ $node[\"OpenAI - Generate Response\"].json.choices[0].message.content }}\n\n*Action:* Someone should follow up immediately!",
        "otherOptions": {}
      },
      "id": "slack-urgent-alert",
      "name": "Slack - Urgent Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $node[\"OpenAI - Generate Response\"].json.choices[0].message.content, \"sessionId\": $json.sessionId } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook - Chat": {
      "main": [
        [
          {
            "node": "Google Sheets - Log Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Log Chat": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Response": {
      "main": [
        [
          {
            "node": "IF - Urgent Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Urgent Message?": {
      "main": [
        [
          {
            "node": "Slack - Urgent Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "automagicly-chat",
  "meta": {
    "instanceId": "automagicly"
  },
  "tags": []
}
