n8n-workflows/n8n-review-workflow-fast-response.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reviews",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e2cd6963-a73f-400f-88fd-d97829686ae0",
      "name": "Webhook - Reviews",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-832, 0],
      "webhookId": "automagicly-reviews"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e555211-d580-41c6-8687-67784d334c31",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-608, 0],
      "id": "e64ee073-cb2f-4c60-821c-51dc9dd23373",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "reviews",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.body.name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": "company",
              "fieldValue": "={{ $json.body.company }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.body.rating }}"
            },
            {
              "fieldId": "review_text",
              "fieldValue": "={{ $json.body.reviewText }}"
            },
            {
              "fieldId": "service_type",
              "fieldValue": "={{ $json.body.serviceType }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "approval_token",
              "fieldValue": "={{$now.toMillis()}}_{{ $json.body.email }}_{{$runIndex}}"
            },
            {
              "fieldId": "token_expires_at",
              "fieldValue": "={{$now.plus({days: 7}).toISO()}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-384, 0],
      "id": "22db0b84-4e38-4708-aa8f-528a671b3d23",
      "name": "Insert to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "vnCzvOBsKdm8eDh0",
          "name": "Rashad Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you for your review! We appreciate your feedback.\" } }}",
        "options": {}
      },
      "id": "8b94ad58-74eb-4d70-b727-ec5b09ea80c5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo",
          "mode": "list",
          "cachedResultName": "Review Spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "rating": "={{ $json.rating }}",
            "company": "={{ $json.company }}",
            "email": "={{ $json.email }}",
            "review": "={{ $json.review_text }}"
          },
          "matchingColumns": ["Name"],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review",
              "displayName": "review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-160, 200],
      "id": "7424b50d-0237-4354-8395-d708868357de",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.rating }}",
              "operation": "largerEqual",
              "value2": 4
            }
          ]
        }
      },
      "id": "980b0af6-5272-4365-935b-996fb0153615",
      "name": "IF - Positive Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-160, 400]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Thank You for Your Review! 🌟",
        "includeHtml": true,
        "htmlMessage": "=<h2>Hi {{ $json.name }},</h2>\n\n<p>Thank you so much for your amazing {{ $json.rating }}-star review! ⭐</p>\n\n<p>We're thrilled that our automation solutions are helping {{ $json.company }} save time and work more efficiently.</p>\n\n<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">\n  <h3>Share Your Success Story</h3>\n  <p>Would you mind sharing your experience on Google or LinkedIn? Your story could help other businesses discover the power of automation!</p>\n  <p>\n    <a href=\"https://g.page/r/YOUR_GOOGLE_BUSINESS_LINK/review\" style=\"display: inline-block; background: #0ea5e9; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; margin: 5px;\">Review on Google</a>\n  </p>\n</div>\n\n<p>As a token of our appreciation, we'd love to feature your testimonial on our website (with your permission, of course).</p>\n\n<p>If you know anyone else who could benefit from automation, we'd be grateful for any referrals. You can use our referral program at: https://automagicly.com#referrals</p>\n\n<p>Thanks again!<br>\nThe AutoMagicly Team</p>",
        "message": "=",
        "toList": ["={{ $json.email }}"],
        "additionalFields": {
          "senderName": "Automagicly"
        }
      },
      "id": "3fb1e436-dfc3-4fe2-ac14-ce6d9c0d6de1",
      "name": "Gmail - Thank You Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [64, 320],
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=⚠️ Low Review Alert: {{ $json.rating }} stars from {{ $json.name }}",
        "includeHtml": true,
        "htmlMessage": "=<h2>Low Rating Alert</h2>\n\n<p><strong>Rating:</strong> {{ $json.rating }}/5 stars</p>\n<p><strong>From:</strong> {{ $json.name }} ({{ $json.company }})</p>\n<p><strong>Email:</strong> {{ $json.email }}</p>\n\n<h3>Review:</h3>\n<p>{{ $json.review_text }}</p>\n\n<hr>\n\n<p><strong>Action Required:</strong> Please follow up with this client to address their concerns.</p>",
        "message": "=",
        "toList": ["rashad.barnett@gmail.com"],
        "additionalFields": {
          "senderName": "Automagicly"
        }
      },
      "id": "714be4b0-573f-47b2-87c1-dab88b1a4644",
      "name": "Gmail - Low Rating Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [64, 480],
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "rashad.barnett@gmail.com",
        "subject": "={{ '⭐'.repeat($json.rating) }} New Review from {{ $json.name || 'Anonymous' }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; background-color: #f3f4f6;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n    <div style=\"background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n      \n      <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center;\">\n        <h1 style=\"margin: 0; font-size: 28px; font-weight: 700;\">✨ New Review Submitted!</h1>\n        <p style=\"margin: 10px 0 0 0; font-size: 14px; opacity: 0.9;\">Review ID: {{ $json.id }}</p>\n      </div>\n\n      <div style=\"padding: 30px;\">\n        \n        <div style=\"text-align: center; margin-bottom: 25px;\">\n          <div style=\"color: #fbbf24; font-size: 32px; line-height: 1;\">\n            {{ '★'.repeat($json.rating) }}{{ '☆'.repeat(5 - $json.rating) }}\n          </div>\n          <p style=\"margin: 8px 0 0 0; color: #6b7280; font-size: 14px;\">{{ $json.rating }} out of 5 stars</p>\n        </div>\n\n        <div style=\"background: #f9fafb; padding: 20px; border-radius: 8px; margin-bottom: 20px;\">\n          <table style=\"width: 100%; border-collapse: collapse;\">\n            <tr>\n              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px; width: 80px;\"><strong>From:</strong></td>\n              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $json.name || 'Anonymous' }}</td>\n            </tr>\n            <tr>\n              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Email:</strong></td>\n              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $json.email || 'Not provided' }}</td>\n            </tr>\n            <tr>\n              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Company:</strong></td>\n              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $json.company || 'Not provided' }}</td>\n            </tr>\n            <tr>\n              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Service:</strong></td>\n              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $json.service_type }}</td>\n            </tr>\n          </table>\n        </div>\n\n        <div style=\"background: white; padding: 20px; border-radius: 8px; border-left: 4px solid #3b82f6; margin-bottom: 30px;\">\n          <p style=\"margin: 0; font-size: 16px; line-height: 1.6; color: #374151; font-style: italic;\">\n            \"{{ $json.review_text }}\"\n          </p>\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 45,
              "resumeUnit": "days"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-160, 600],
      "id": "36767f70-56a1-4518-9c27-c832f227216b",
      "name": "Send Admin Approval Email",
      "webhookId": "9dccf839-63c4-48cc-b690-72687123c0b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33e4a8bb-15ac-4076-ac1e-3cc878472f1e",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [64, 600],
      "id": "1122ae79-ec40-4775-9cde-639535c95ea0",
      "name": "If Approved?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "reviews",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Insert to Supabase').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "approved"
            },
            {
              "fieldId": "approved_at",
              "fieldValue": "={{$now.toISO()}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [288, 600],
      "id": "1fbeaf7c-fa70-40e0-88f5-7d1ba9a9f969",
      "name": "Update Review to Approved",
      "credentials": {
        "supabaseApi": {
          "id": "vnCzvOBsKdm8eDh0",
          "name": "Rashad Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Reviews": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Positive Review?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Admin Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Positive Review?": {
      "main": [
        [
          {
            "node": "Gmail - Thank You Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Low Rating Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Admin Approval Email": {
      "main": [
        [
          {
            "node": "If Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved?": {
      "main": [
        [
          {
            "node": "Update Review to Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ff13f3f4c3c7e138de3e91f08636333a7060402d76e7388586400bf11d64dd0"
  }
}
