n8n-workflows/rag-chatbot-workflow.json
{
  "name": "AutoMagicly - RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "chat"
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002"
      },
      "name": "Create Question Embedding",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "operation": "retrieve",
        "indexName": "automagicly-knowledge-base",
        "topK": 5,
        "options": {
          "includeMetadata": true
        }
      },
      "name": "Search Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "pineconeApi": {
          "id": "2",
          "name": "Pinecone API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = items.map(item => item.json.metadata?.text || item.json.pageContent);\nconst context = results.join('\\n\\n---\\n\\n');\nconst sources = [...new Set(items.map(item => item.json.metadata?.source || 'Unknown').filter(Boolean))];\n\nreturn [{\n  json: {\n    context,\n    question: $('Webhook').item.json.body.message,\n    sources,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Aggregate Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=You are AutoMagicly's helpful AI assistant. You help potential clients understand our AI automation services.\n\n**CRITICAL RULES:**\n1. ONLY answer based on the provided context from our knowledge base\n2. If the context doesn't contain the answer, respond with: \"I don't have that specific information in my knowledge base. Please contact our team at [email/phone] or schedule a free consultation for detailed answers.\"\n3. Never make up information or use general knowledge\n4. Be helpful, friendly, and professional\n5. Keep answers concise but complete (2-4 sentences)\n6. If relevant, suggest booking a free AI audit\n\n**Context from knowledge base:**\n{{ $json.context }}\n\n**Sources:** {{ $json.sources.join(', ') }}"
            },
            {
              "role": "user",
              "content": "={{ $json.question }}"
            }
          ]
        }
      },
      "name": "Generate Answer",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"{{ $json.choices[0].message.content }}\",\n  \"sources\": {{ $('Aggregate Context').item.json.sources }},\n  \"conversationId\": \"{{ $('Webhook').item.json.body.conversationId || 'new' }}\",\n  \"timestamp\": \"{{ $('Aggregate Context').item.json.timestamp }}\"\n}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Question Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Question Embedding": {
      "main": [
        [
          {
            "node": "Search Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Knowledge Base": {
      "main": [
        [
          {
            "node": "Aggregate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Context": {
      "main": [
        [
          {
            "node": "Generate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Answer": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
