n8n-workflows/referrals-workflow.json
{
  "name": "AutoMagicly - Referrals Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "referrals",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-referrals",
      "name": "Webhook - Referrals",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "automagicly-referrals"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AutoMagicly Referrals"
        },
        "sheetName": {
          "__rl": true,
          "value": "Referrals",
          "mode": "list",
          "cachedResultName": "Referrals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Your Name": "={{ $json.yourName }}",
            "Your Email": "={{ $json.yourEmail }}",
            "Your Company": "={{ $json.yourCompany }}",
            "Referral Name": "={{ $json.referralName }}",
            "Referral Email": "={{ $json.referralEmail }}",
            "Referral Company": "={{ $json.referralCompany }}",
            "Why Refer": "={{ $json.whyRefer }}",
            "Source": "={{ $json.source }}",
            "Status": "New"
          }
        },
        "options": {}
      },
      "id": "google-sheets-referrals",
      "name": "Google Sheets - Save Referral",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{ $json.yourEmail }}",
        "subject": "Thank You for Your Referral! 🎁",
        "emailType": "html",
        "message": "=<h2>Hi {{ $json.yourName }},</h2>\n\n<p>Thank you so much for referring {{ $json.referralName }} from {{ $json.referralCompany }} to AutoMagicly! 🎉</p>\n\n<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">\n  <h3>What Happens Next?</h3>\n  <ol>\n    <li>We'll reach out to {{ $json.referralName }} within 24 hours</li>\n    <li>If they book a consultation, you'll receive a $100 Amazon gift card</li>\n    <li>If they become a client, you'll get an additional $500 bonus!</li>\n  </ol>\n</div>\n\n<h3>Your Referral Details:</h3>\n<ul>\n  <li><strong>Name:</strong> {{ $json.referralName }}</li>\n  <li><strong>Company:</strong> {{ $json.referralCompany }}</li>\n  <li><strong>Email:</strong> {{ $json.referralEmail }}</li>\n</ul>\n\n<p>We'll keep you updated on the progress of your referral.</p>\n\n<p><strong>Know more businesses that could benefit from automation?</strong><br>\nSend more referrals at: https://automagicly.com#referrals</p>\n\n<p>Thanks again for spreading the word!<br>\nThe AutoMagicly Team</p>"
      },
      "id": "gmail-referrer-thank-you",
      "name": "Gmail - Thank Referrer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{ $json.referralEmail }}",
        "subject": "={{ $json.yourName }} thought you'd be interested in AutoMagicly",
        "emailType": "html",
        "message": "=<h2>Hi {{ $json.referralName }},</h2>\n\n<p>{{ $json.yourName }} from {{ $json.yourCompany }} recently referred you to AutoMagicly.</p>\n\n<p>{{ $json.yourName }} mentioned: <em>\"{{ $json.whyRefer }}\"</em></p>\n\n<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">\n  <h3>What We Do</h3>\n  <p>We help businesses save 10-20 hours per week by automating repetitive tasks like:</p>\n  <ul>\n    <li>Email management and routing</li>\n    <li>Data entry and reporting</li>\n    <li>CRM updates and follow-ups</li>\n    <li>Document processing</li>\n    <li>Scheduling and coordination</li>\n  </ul>\n</div>\n\n<h3>Let's Chat!</h3>\n<p>We'd love to offer you a <strong>free 30-minute AI audit</strong> to identify where automation could save {{ $json.referralCompany }} the most time.</p>\n\n<p>\n  <a href=\"https://automagicly.com#booking\" style=\"display: inline-block; background: #0ea5e9; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; margin: 10px 0;\">Schedule Your Free Audit</a>\n</p>\n\n<p>No pressure - just a friendly conversation about your workflows and how automation might help.</p>\n\n<p>Looking forward to connecting!<br>\nThe AutoMagicly Team</p>\n\n<p style=\"font-size: 12px; color: #666; margin-top: 30px;\">P.S. - You can also check out our website at https://automagicly.com to learn more.</p>"
      },
      "id": "gmail-introduce-to-referral",
      "name": "Gmail - Introduce to Referral",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#referrals",
        "text": "=🎯 *New Referral Received!*\n\n*From:* {{ $json.yourName }} ({{ $json.yourCompany }})\n*Email:* {{ $json.yourEmail }}\n\n*Referred:* {{ $json.referralName }}\n*Company:* {{ $json.referralCompany }}\n*Email:* {{ $json.referralEmail }}\n\n*Why they referred:*\n{{ $json.whyRefer }}\n\n✅ Introduction email sent to {{ $json.referralEmail }}\n✅ Thank you email sent to {{ $json.yourEmail }}\n\n*Action:* Follow up with {{ $json.referralName }} in 2-3 days if no response.",
        "otherOptions": {}
      },
      "id": "slack-referral-notification",
      "name": "Slack - Referral Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 400],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.referralEmail }}",
        "additionalFields": {
          "firstname": "={{ $json.referralName.split(' ')[0] }}",
          "lastname": "={{ $json.referralName.split(' ').slice(1).join(' ') }}",
          "company": "={{ $json.referralCompany }}",
          "lifecyclestage": "lead",
          "hs_lead_status": "NEW",
          "lead_source": "Referral",
          "referred_by": "={{ $json.yourName }} ({{ $json.yourEmail }})",
          "referral_reason": "={{ $json.whyRefer }}"
        }
      },
      "id": "hubspot-add-referral",
      "name": "HubSpot - Add Referral Lead",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [650, 500],
      "credentials": {
        "hubspotApi": {
          "id": "4",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you for your referral! We've sent an introduction to \" + $json.referralName + \". You'll receive $100 if they book a consultation and $500 if they become a client!\" } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - Referrals": {
      "main": [
        [
          {
            "node": "Google Sheets - Save Referral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Save Referral": {
      "main": [
        [
          {
            "node": "Gmail - Thank Referrer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Introduce to Referral",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack - Referral Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot - Add Referral Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Introduce to Referral": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "automagicly-referrals",
  "meta": {
    "instanceId": "automagicly"
  },
  "tags": []
}
