n8n-workflows/reviews-workflow.json
{
  "name": "AutoMagicly - Reviews Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reviews",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-reviews",
      "name": "Webhook - Reviews",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "automagicly-reviews"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AutoMagicly Reviews"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reviews",
          "mode": "list",
          "cachedResultName": "Reviews"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Name": "={{ $json.name }}",
            "Company": "={{ $json.company }}",
            "Email": "={{ $json.email }}",
            "Rating": "={{ $json.rating }}",
            "Review": "={{ $json.review }}",
            "Source": "={{ $json.source }}"
          }
        },
        "options": {}
      },
      "id": "google-sheets-reviews",
      "name": "Google Sheets - Save Review",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.rating }}",
              "operation": "largerEqual",
              "value2": 4
            }
          ]
        }
      },
      "id": "if-positive-review",
      "name": "IF - Positive Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{ $json.email }}",
        "subject": "Thank You for Your Review! 🌟",
        "emailType": "html",
        "message": "=<h2>Hi {{ $json.name }},</h2>\n\n<p>Thank you so much for your amazing {{ $json.rating }}-star review! ⭐</p>\n\n<p>We're thrilled that our automation solutions are helping {{ $json.company }} save time and work more efficiently.</p>\n\n<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">\n  <h3>Share Your Success Story</h3>\n  <p>Would you mind sharing your experience on Google or LinkedIn? Your story could help other businesses discover the power of automation!</p>\n  <p>\n    <a href=\"https://g.page/r/YOUR_GOOGLE_BUSINESS_LINK/review\" style=\"display: inline-block; background: #0ea5e9; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; margin: 5px;\">Review on Google</a>\n  </p>\n</div>\n\n<p>As a token of our appreciation, we'd love to feature your testimonial on our website (with your permission, of course).</p>\n\n<p>If you know anyone else who could benefit from automation, we'd be grateful for any referrals. You can use our referral program at: https://automagicly.com#referrals</p>\n\n<p>Thanks again!<br>\nThe AutoMagicly Team</p>"
      },
      "id": "gmail-thank-you",
      "name": "Gmail - Thank You Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#reviews",
        "text": "=⭐ *New Review Received!*\n\n*Rating:* {{ $json.rating }}/5 stars\n*From:* {{ $json.name }} ({{ $json.company }})\n*Email:* {{ $json.email }}\n\n*Review:*\n{{ $json.review }}\n\n{{ $json.rating >= 4 ? '✅ Positive review - Thank you email sent!' : '⚠️ Low rating - Follow up needed' }}",
        "otherOptions": {}
      },
      "id": "slack-review-notification",
      "name": "Slack - Review Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "your-email@automagicly.com",
        "subject": "=⚠️ Low Review Alert: {{ $json.rating }} stars from {{ $json.name }}",
        "emailType": "html",
        "message": "=<h2>Low Rating Alert</h2>\n\n<p><strong>Rating:</strong> {{ $json.rating }}/5 stars</p>\n<p><strong>From:</strong> {{ $json.name }} ({{ $json.company }})</p>\n<p><strong>Email:</strong> {{ $json.email }}</p>\n\n<h3>Review:</h3>\n<p>{{ $json.review }}</p>\n\n<hr>\n\n<p><strong>Action Required:</strong> Please follow up with this client to address their concerns.</p>"
      },
      "id": "gmail-low-rating-alert",
      "name": "Gmail - Low Rating Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [850, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you for your review! We appreciate your feedback.\" } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - Reviews": {
      "main": [
        [
          {
            "node": "Google Sheets - Save Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Save Review": {
      "main": [
        [
          {
            "node": "IF - Positive Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Positive Review?": {
      "main": [
        [
          {
            "node": "Gmail - Thank You Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack - Review Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Low Rating Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack - Review Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Thank You Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Low Rating Alert": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "automagicly-reviews",
  "meta": {
    "instanceId": "automagicly"
  },
  "tags": []
}
