n8n-workflows/waitlist-workflow.json
{
  "name": "AutoMagicly - Waitlist Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waitlist",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-waitlist",
      "name": "Webhook - Waitlist",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "automagicly-waitlist"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AutoMagicly Waitlist"
        },
        "sheetName": {
          "__rl": true,
          "value": "Waitlist",
          "mode": "list",
          "cachedResultName": "Waitlist"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Email": "={{ $json.email }}",
            "Product": "={{ $json.product }}",
            "Source": "={{ $json.source }}",
            "Status": "Active"
          }
        },
        "options": {}
      },
      "id": "google-sheets-waitlist",
      "name": "Google Sheets - Add to Waitlist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{ $json.email }}",
        "subject": "You're on the Waitlist! 🎉",
        "emailType": "html",
        "message": "=<h2>Thanks for your interest!</h2>\n\n<p>You've been added to the waitlist for <strong>{{ $json.product }}</strong>.</p>\n\n<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">\n  <h3>What's Coming:</h3>\n  <p>{{ $json.product === 'Monthly Subscription Plan' ? 'Unlimited automation improvements for one flat monthly fee. Perfect for businesses that want ongoing optimization without project-based pricing.' : '' }}</p>\n  <p>{{ $json.product === 'AI Email Assistant' ? 'An AI that drafts, categorizes, and responds to emails based on your writing style. Coming Q1 2025.' : '' }}</p>\n  <p>{{ $json.product === 'Workflow Template Library' ? 'Pre-built automation templates you can deploy in minutes. Save weeks of setup time.' : '' }}</p>\n</div>\n\n<h3>You'll Be Among the First to Know!</h3>\n<p>We'll email you when {{ $json.product }} launches with:</p>\n<ul>\n  <li>Early access (before public release)</li>\n  <li>Special launch pricing</li>\n  <li>Exclusive onboarding support</li>\n</ul>\n\n<p>In the meantime, if you want to start automating right away, schedule a free AI audit:</p>\n<p>\n  <a href=\"https://automagicly.com#booking\" style=\"display: inline-block; background: #0ea5e9; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; margin: 10px 0;\">Schedule Free Audit</a>\n</p>\n\n<p>Talk soon!<br>\nThe AutoMagicly Team</p>"
      },
      "id": "gmail-waitlist-confirmation",
      "name": "Gmail - Waitlist Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#waitlist",
        "text": "=📝 *New Waitlist Signup!*\n\n*Email:* {{ $json.email }}\n*Product:* {{ $json.product }}\n*Source:* {{ $json.source }}\n\n✅ Confirmation email sent\n\n*Total Waitlist Count:* Check Google Sheets for current count",
        "otherOptions": {}
      },
      "id": "slack-waitlist-notification",
      "name": "Slack - Waitlist Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "lifecyclestage": "subscriber",
          "hs_lead_status": "OPEN",
          "lead_source": "Website Waitlist",
          "waitlist_product": "={{ $json.product }}",
          "waitlist_date": "={{ $now.toISO() }}"
        }
      },
      "id": "hubspot-add-waitlist",
      "name": "HubSpot - Add to Waitlist",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [650, 400],
      "credentials": {
        "hubspotApi": {
          "id": "4",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"You're on the waitlist! Check your email for confirmation.\", \"product\": $json.product } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - Waitlist": {
      "main": [
        [
          {
            "node": "Google Sheets - Add to Waitlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Add to Waitlist": {
      "main": [
        [
          {
            "node": "Gmail - Waitlist Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack - Waitlist Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot - Add to Waitlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Waitlist Confirmation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "automagicly-waitlist",
  "meta": {
    "instanceId": "automagicly"
  },
  "tags": []
}
